@import '{}/client/stylesheets/colors.import';

.tag
  padding: 5px 8px
  border: 1px solid color-black-10
  display: inline-block;
  border-radius: 3px
  background: #fff
  cursor: pointer;
  transition: all 0.1s;
  &:hover
    border-color: color-black-40
