<template name="existJob">
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	<div class="ej-head"><a href="{{pathFor 'timeTable'}}" ><h1 class="south-job">Remote Wolfy</h1></a></div>
	<div itemscope itemtype="http://schema.org/JobPosting" class="foot-wrap">
		<div class="schemaorg">
			<span itemprop="skills"> {{#each tag}} {{this}} {{/each}} </span>
			<span itemprop="datePosted">{{formatTimeshema createdAt}}</span>
			<span itemprop="workHours">Flexible</span>
			<span itemprop="jobLocation">Remote</span>
		</div>
		<div class="container">
		<div class="row">
    		<div class="col-md-8 col-md-offset-2 full-job">
	    		<h2 class="exist-job-position">
	    			<strong itemprop="title">
	    				{{position}}
	    			</strong>
	    		</h2>
	    		{{#if company_have_url}}
	    			<h2 class="boldd exist-job-company"> <a href="{{companyUrl}}"  target="_blank" >in <span itemprop="hiringOrganization">{{company}}</span></a></h2>
	    		{{else}}
	    			<h2 class="big-company exist-job-company">in <span  itemprop="hiringOrganization" > {{company}} </span> </h2>
	    		{{/if}}
	    		<h3 class="exist-job-tags">
	    			{{#each tag}}<a href="{{pathFor 'tagJob' tag=this}}" data-toggle="tooltip" data-placement="top" title="Show {{this}} jobs"><div class="btn-outline-big  tagsJobs btn btn-outline tags-job-ex" id="tag-hover"><div class="tags">{{this}}</div></div></a> {{/each}}
	    		</h3>
	    		<div class="exist-job-group">
					<div><a href="https://twitter.com/share" class="twitter-share-button" data-text=".{{company_twi}} is hiring remote {{position}}! Are you in?" data-count="none" data-url="{{curpath}}" >Tweet job</a></div>
					<div class="fb-share-button" data-href="{{curpath}}" data-layout="button">Share job</div>
				</div>
	    	</div>
	    </div>
		</div>

			<div class="container">
		    	<div class="row">
			    	<div class="col-md-8 col-md-offset-2" style="word-wrap: break-word;">

		    		<h3 class="desc-date"><strong>Description</strong>
		    		<span class="exist-date"> {{formatTime createdAt}}</span></h3>

						<div id="fullDescr" itemprop="description">{{{fullContent}}}</div>
						{{#if applyUrlex}}
							<div class="centerInline">
								<a href="{{applyUrl}}" rel="nofollow" target="_blank"><div class="btnapply btnM btnM-apply">Apply for job</div></a>
							</div>
						{{else}}
							<div class="margin-bot"></div>
						{{/if}}
					</div>
				</div>
			</div>

	</div>



</template>
