<template name="info">
<div class="info-wrap">
  <div id="about">
    <h1>About</h1>
    <p>Remote Wolfy is a job board that can help you to find digital and tech <strong>remote jobs</strong> for designers, developers, tech professionals and digital nomads.</p>
    <p>We publish all remote jobs from the biggest tech and design resources: Stack Overflow Jobs, Github, Dribbble, Behance, Authentic and more. If you are looking for an employee in your company or a startup you can <a href="post">publish your job here.</a></p>
  </div>
  <div id="contact">
    <h1>Contact</h1>
    <p>Have some questions or want to give feedback? Hit us up and we’ll get back to you as quickly as we can.</p>
    <p class="little-pad"><span class="b-600">Email: </span><span id="secr"></span>
    <span class="b-600">Twitter: </span><a href="https://twitter.com/Zero___Hero">@zero___hero</a></p>
  </div>

</div>
</template>
