@import '{}/client/stylesheets/colors.import';

.body
  position: relative

.job-table-wrap
  background: color-f9f9f9
  min-height: 82rem;
  padding: 4rem 0;
  overflow: hidden;
  @media (max-width: 992px)
    padding: 0

.left
  margin-right: 35rem
  @media (max-width: 992px)
    margin-right: 0

.right
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 34rem
  padding: 0 1rem
  @media (max-width: 992px)
    display: none
  .head
    border-bottom: 1px solid color-black-10
    margin-top: 1rem
    padding-bottom: 1rem
    font-size: 16px
  .content
    margin-top: 2rem

.search-tag-wrap
  h4
    display: inline-block;
  .skill
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

.table-header
  padding-bottom: 1rem
  font-weight: 600

.main-table
  border-collapse: separate;
  a
    &:last-child
      .smurf
        border-bottom: 1px solid color-black-10 !important
        border-radius: 0 0 3px 3px
    &:first-child
      .smurf
        border-radius: 3px 3px 0 0
  .no-results
    font-size: 24px
    color: color-black-40
    font-weight:600
    padding: 2rem 0
  .smurf
    border: 1px solid color-black-10
    border-bottom: none
    padding: 2rem 3rem;
    position:relative
    animation-duration: 1s;
    min-height: 9rem
    background-color: #fff;
    &:hover
      background-color: color-black-01;
      cursor: pointer;
    .details
      position: absolute;
      right: 3rem;
      top: 2.4rem;
      @media (max-width: 768px)
        position: initial;
        margin-top: 1rem
        width: 100%
    .job-components
      padding: 0 0 0 8rem;
      @media (max-width: 768px)
        padding: 0
      &:after
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      .job-from
        font-size: 16px
        margin: 1rem 1rem 0 0
        line-height: 1.5
        color: color-black-40
      .position
        max-width: 35rem;
        font-size:18px
        display:inline-block
        font-weight: 600
        color: color-black
      .bottom
        .fa-circle
          color: color-main
          font-size: 10px;
          position: relative;
          top: -1px
          padding-right: 1rem
        span
          font-size:16px
          color: color-black
          font-weight:400
          display: inline-block;
          padding-right: 1rem
          &:last-child
            padding-right: 0
    .description
      color:color-black-40
      font-size: 16px;
      font-weight:400
      line-height: 22px;
      margin-top: 0.5rem;
    .company-image
      background-size: cover;
      width: 4rem;
      height: 4rem;
      background-color: #FFF;
      position: absolute;
      border-radius: 0;
      left: 3rem;
      top: 2.3rem;
    .no-image
      font-size: 20px;
      font-family: 'Playfair Display', serif;
      text-align: center;
      line-height: 38px;
      font-weight: 600;
      text-transform: uppercase;
      color: #FFF;
      background: color-black

.hidden-xs-l.td-tags
  margin-top: 0.5rem

.fixed
  position: fixed !important
