.house
	padding:2rem 0
	float: left
	width: 100%
	.house-left
		width:70%
		float:left
		padding-right:1rem
		position:relative
		@media (max-width:780px)
			width:100%
			padding:0
	.house-right
		width:30%
		float:left
		position:relative
		@media (max-width:780px)
			display:none
		.add-fix
			position: fixed;
			top: 2rem;
			// min-width:31rem
