<template name="jobs">
    <tr itemscope itemtype="http://schema.org/JobPosting" class="smallInfo {{premium_back}}">
    <td class="hidden-xs-sl td-pics">
      {{#if trends}}
          <div class="trend-job inline "><i class="fa fa-star" data-toggle="tooltip" data-placement="top"  title="The most popular position at the moment"></i></div>
      {{/if}}
      <a href="{{pathFor someposts}}" class="body-color navigate" data-toggle="tooltip" data-placement="top" title="View all {{tooltipPosts}} remote jobs"><div class="logo-source"><i class="{{sitePic}} "></i></div></a></td>
    <td class="jobCompanents ">
      <h4 class="position"><a itemprop="url" href="{{pathFor 'existJob'}}" target="_blank" class="{{premium}}"> <span itemprop="title">{{checklength position}} </span></a></h4>
      <p itemprop="hiringOrganization"  itemscope itemtype="http://schema.org/Organization" class="company "><div itemprop="name" class="{{premium}}" style="display: inline;">{{company}} </div></p>
      <div class="visible-xs-inline-l " >
        {{#each tag}}
          {{> tags}}
        {{/each}}
        {{#if new_job}}
          <div class="new-job inline">new</div>
        {{/if}}
      </div>
    </td>
    <td  class="hidden-xs-l td-tags" >
      {{#each tag}}
          {{> tags}}
      {{/each}}
    </td>
    <td>
      <div class="param-group">
        {{#if new_job}}
          <div class="new-job inline hidden-xs-ml">new</div>
        {{/if}}
      </div>
    </td>
    <td class="submitDate "> 
      <div>{{formatTime createdAt}}</div>
    </td>
    <td class="schemaorg">
      <span itemprop="skills"> {{#each tag}} {{this}} {{/each}} </span>
      <span itemprop="datePosted">{{formatTimeshema createdAt}}</span>
      <span itemprop="workHours">Flexible</span>
      <span itemprop="jobLocation">Remote</span>
    </td>
  </tr>
  {{#if showFullContent}}
  <tr class="bigInfo animated fadeIn" >
    <td colspan="999">
      <div class="wrap-bigInfo">
        <div class="row text-center"> 
        {{#if wolfyContent}}
          <a href="{{pathFor 'existJob'}}" target="_blank">
            <div class="viewInfo btnM btnM-default noradius-default">
              SHOW MORE
              <i class="fa fa-external-link"></i>
            </div>

          </a>
        {{else}}
          <a href="{{pathFor 'existJob'}}" target="_blank">
            <div class="viewInfo btnM btnM-default noradius-default">
              <i class="fa fa-external-link"></i> SHOW MORE
            </div>
            
          </a>
            <p id="orr" class="viewInfo">OR</p>
          <a rel="nofollow" href="{{applyUrl}}" target="_blank">
            <div class="viewInfo btnM btnM-info noradius-default">
              APPLY FOR JOB
            </div>

          </a>
        {{/if}}

        </div>
      </div>
    </td>
  </tr>
  {{else}}

  {{/if}}

</template>

<template name="tags">
<a  href="{{pathFor 'tagJob' tag=this}}" data-toggle="tooltip" data-placement="top" title="View all {{this}} remote jobs" class="navigate">
  <div class="btn-outline-big  tagsJobs btn btn-outline tags-main" id="tag-hover">
    <div class="tags">{{this}}</div>
  </div>
</a>

</template>
