<template name="navTable">
  <div class="table_nav">
  <div class="container-l">
    <ul class="table_ul_nav">
      <li class="{{active 'timeTable'}} logo-nav show-fit"><a href="{{pathFor 'timeTable'}}" class="navigate"><i class="fa fa-home"></i><div>ALL</div></a></li>
      <li class="{{active 'trends'}} logo-nav hide-fit"><a href="{{pathFor 'trends'}}" class="navigate"><i class="fa fa-star"></i><div>TRENDING</div></a></li>
      <li class="{{active 'mobile'}} logo-nav show-fit"><a href="{{pathFor 'mobile'}}" class="navigate"><i class="fa fa-mobile"></i><div>MOBILE</div></a></li>
      <li class="{{active 'enterprise'}} logo-nav hide-sev"><a href="{{pathFor 'enterprise'}}" class="navigate"> <i class="fa fa-keyboard-o"></i><div>ENTERPRISE</div></a></li>
      <li class="{{active 'design'}} logo-nav show-fit"><a href="{{pathFor 'design'}}" class="navigate"> <i class="fa fa-paint-brush"></i><div>DESIGN</div></a></li>
      <li class="{{active 'webdev'}} logo-nav show-fit"><a href="{{pathFor 'webdev'}}" class="navigate"> <i class="fa fa-wifi"></i><div>WEB DEV</div></a></li>
      <li class="{{active 'fullstack'}} logo-nav hide-fot"><a href="{{pathFor 'fullstack'}}" class="navigate"> <i class="fa fa-cogs"></i><div>FULL STACK</div></a></li>
    </ul>
  </div>
</div>
</template>