<template name="timeTable">
<div class="container-l table-start">
  <div class="date-wrap">
    <div class="table_date_wrap">
      <h1 class="table_date ">
      {{#if load}}
      {{else}}
        Today
      {{/if}}
      {{#ifEsInputIsEmpty index="posts"}}
        {{#if posts_exist_today}}
          Today
        {{else}}
          {{#if posts_exist_week}}
            Week
          {{else}}
            {{#if posts_exist_month}}
              Month
            {{else}}
              {{#if not_exist}}
                Today
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{else}}
        Today
      {{/ifEsInputIsEmpty}}
      </h1>
      <span>
      {{#if load}}
      {{else}}
        (last 24 hours)
      {{/if}}
      {{#ifEsInputIsEmpty index="posts"}}
        {{#if posts_exist_today}}
          (last 24 hours)
        {{else}}
          {{#if posts_exist_week}}
            (last 7 days)
          {{else}}
            {{#if posts_exist_month}}
              (last 30 days)
            {{else}}
              {{#if not_exist}}
                (last 24 hours)
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{else}}
        (all time)
      {{/ifEsInputIsEmpty}}
      </span>
    </div>
    <h3 class="table_date_h3 hidden-xs-l">
    {{#if load}}
    {{else}}
        {{todaydate}}
    {{/if}}
    {{#if posts_exist_today}}{{todaydate}}{{/if}}
    </h3>
  </div>

  {{> esInput index="posts" placeholder="Search: PHP, Designer, iOS .." class="search-input list-group input-lg hint" }}

  {{#ifEsInputIsEmpty index="posts"}}

    {{#if posts_exist_today}}
      {{> table posts=today}}

      {{#if posts_exist_week}}
        <div class="date-wrap">
          <div class="table_date_wrap" id="del-pad">
            <h1 class="table_date ">Week</h1><span>(last 7 days)</span>
          </div>
        </div>
        {{> table posts=week}}
      {{/if}}

      {{#if posts_exist_month}}
        <div class="date-wrap">
          <div class="table_date_wrap">
            <h1 class="table_date ">Month</h1><span>(last 30 days)</span>
          </div>
        </div>
        {{> table posts=month}}
      {{/if}}

    {{else}}
      {{#if posts_exist_week}}
        {{> table posts=week}}

        {{#if posts_exist_month}}
          <div class="date-wrap">
            <div class="table_date_wrap">
              <h1 class="table_date ">Month</h1><span>(last 30 days)</span>
            </div>
          </div>
          {{> table posts=month}}
        {{/if}}

      {{else}}
        {{#if posts_exist_month}}
          {{> table posts=month}}
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if load}}
    {{else}}
      <div class="text-center hidden-xs" id="svg-search">{{> svgL}}</div>
      <div class="visible-xs-block no-job text-center">Loading..</div>
    {{/if}}

  {{else}}

    {{#ifEsIsSearching index="posts"}}
      <div class="text-center hidden-xs" id="svg-search">{{> svgL}}</div>
      <div class="visible-xs-block no-job text-center">Loading..</div>
    {{else}}
      <table class="main-table table">
        {{#esEach index="posts"}}
          {{> jobs}}
        {{/esEach}}
      </table>
    {{/ifEsIsSearching}}

    {{#ifEsHasNoResults index="posts"}}
      <div class="text-center"><h3 class="no-job">No results found!</h3></div>
    {{/ifEsHasNoResults}}

  {{/ifEsInputIsEmpty}}

  {{#if morepostexist}}
    {{#ifEsInputIsEmpty index="posts"}}
      {{#if not_exist}}
      {{else}}
        {{#if load}}
          <div class="text-center">
            <div id="loadmore" class="btnM btnM-default noradius-default">Show more</div>
          </div>
        {{/if}}
      {{/if}}
    {{/ifEsInputIsEmpty}}
  {{/if}}

</div>
</template>
