@import '{}/client/stylesheets/colors.import';

.less-more
    width:4rem
    .less-more-active
        color:#FFF
        border-color:main-color
    .filter-head
        text-align: center;
        padding: 0.5rem !important
        i
            position: initial !important
