@import '{}/client/stylesheets/colors.import';

.less-more
    width:4rem
    @media (max-width: 500px)
    	width:100%
    .less-more-active
        color:#FFF
        border-color:main-color
    .filter-head
        text-align: center;
        padding: 0.5rem !important
        i
            position: initial !important

.show-500
	display:none
	@media(max-width:500px)
		display:inline-block
