<template name="fake_loading">
    {{> fakeLoadingTemplate}}
    {{> fakeLoadingTemplate}}
    {{> fakeLoadingTemplate}}
    {{> fakeLoadingTemplate}}
</template>

<template name="fakeLoadingTemplate">
    <div class="smurf fake">
        <div class="hidden-xs-sl td-pics">
                <div class="company-image"></div>
        </div>
        <div class="job-companents">
            <p class="position"></p>
        </div>
        <p class="description"></p>
        <div  class="hidden-xs-l td-tags" >
            <p class="inline-block">

            </p>
            <p class="inline-block">

            </p>
        </div>
        <div class="job-date">

        </div>
    </div>
</template>
