.fake
    .job-companents
        .position
            width:90%
            background:#F5F5F5
            height:16px
    .description
        width:100%
        height:8rem
        background:#F5F5F5
    .job-date
        width:15%
        background:#F5F5F5
        height:16px
    .td-tags
        p
            width: 6rem;
            background: #f5f5f5;
            height: 22px;
            margin-right: 0.5rem;
