@import '{}/client/stylesheets/colors.import';

.fake
    background: #fff !important
    .td-pics
        .company-image
            background: color-f3f3f3
    p
        height: 16px;
        background: #f3f3f3;
        margin: 0 0 1rem 6rem
