vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

user-select()
  vendor('user-select', arguments)

xs-ml = 760px
xs-l = 600px
xs-sl = 400px
seventt = 700px
fourfiv = 450px

color-yellow = #E7B70B
color-blue = #458cce

color-black = #44494d

color-black-10 = rgba(68, 73, 77, .1)
color-black-40 = rgba(68, 73, 77, .4)
color-black-80 = rgba(68, 73, 77, .8)
color-f9f9f9 = #f9f9f9
