vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

user-select()
  vendor('user-select', arguments)

xs-ml = 760px
xs-l = 600px
xs-sl = 400px
seventt = 700px
fourfiv = 450px

main-color = #036DF4

back-yellow-light = #fffce0

body-color = #222028
color-999 = #9e9ea6
border-color = #c1c1c1
color-f3f3f3 = #f3f3f3
