@import 'colors.import';

.apply-for-job
	padding: 1.5rem 2rem 2rem;
	position: relative;

.single-job-info
	border-bottom: 1px solid #e2e2e2;
	padding: 2rem 2rem 2rem 2.5rem;
	position: relative;
	.company-image
		width:8rem
		height:8rem
		background-size:cover
		position:absolute
		top: 2rem
		background-color: #FFF;
		border: 1px solid #E2E2E2;
		@media (max-width:450px)
			display: none;
	.no-image
		line-height: 8rem;
		text-transform: uppercase;
		font-weight: 600;
		color: color-747;
		font-size: 40px;
		text-align:center
	.ograde
		padding:0 9rem
		@media (max-width:450px)
			padding: 0 9rem 0 0
		.ograde-position
			font-size: 18px;
	.date
		position: absolute;
		top: 2.2rem;
		right: 2rem;
		font-size: 16px;
		color: #9e9ea6;
	.title
		padding-right:9rem
		font-weight: 600
	.exist-job-tags
		margin-top:1rem

.single-job-description
	word-wrap: break-word
	padding: 2rem 2rem 2rem 2.5rem;
	position: relative;

#fullDescr
	color: body-color
	font-family: "Proxima Nova","Helvetica Neue", Helvetica,sans-serif
	font-size: 16px
	overflow:hidden
	line-height: 26px
	&:first-child
		padding:0
	p
		font-size: 16px
		text-align: left
	h1
		font-size:24px
		font-weight: 600;
		padding: 2rem 0 1rem;
	h2
		font-size:20px
		padding: 1rem 0 0.5rem;
		font-weight: 600;
	h3
		font-size:18px
		font-weight: 600
