@import 'colors.import';

.ej-head
	min-height: 6rem;
	min-width: 100%;
	background: #000 none repeat scroll 0% 0%;
	background-image: url('/image/main.jpg');
	background-size: cover;

.south-job
	font-family: 'Oleo Script'
	color: #FFF
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)
	margin: 0
	text-align:center
	font-size:6rem
	padding:1.5rem

.foot-wrap
	padding-top:3rem
	@media (max-width:780px)
		padding-top:0px

.full-job
	text-align: center
	padding: 0.5rem 3rem 3rem
	background: #f4f5f4 none repeat scroll 0% 0%
	border-radius: 3px
	h2
		display:inline-block
		@media (max-width:500px)
			font-size: 24px
			display:block

.desc-date
	@media (max-width:500px)
		font-size: 20px;

.exist-job-position
	padding-right:1rem
	margin-bottom: 0

.big-company
	color: #515151


.boldd
	color: main-color
	transition: all 0.1s ease-in-out 0s

.boldd a:hover
	border-bottom:1px solid main-color


.centerInline{
	text-align: center;
}

#fullDescr
	color: #232323
	font-family: "PT Sans","Open Sans","Helvetica Neue", Helvetica,sans-serif
	font-size: 16px
	a
		&:hover
			text-decoration:underline
	p
		font-size: 16px
		text-align: left

.btnapply{
	display: inline-block;
	margin:2rem 0 4rem;
}

.back-job{
	background: #F4F5F4 none repeat scroll 0% 0%;
	padding-bottom: 15px;
}
.back-jobb{
	background: #F4F5F4 none repeat scroll 0% 0%;
	padding-bottom: 15px;
	padding-top: 10px;

}

.tags-job-ex
	@media (max-width: 500px)
		padding: 4px 8px !important;

strong{
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif !important;
}
.exist-date{
	float: right;
	color: #515151;
	margin-right: 20px;
	font-weight: bold;
}

.fb_iframe_widget
	top: -5px

.exist-job-company
	margin-top:5px
	margin-bottom:5px

.exist-job-tags
	margin-top:5px

.margin-bot
	margin-bottom:5rem

.exist-job-group
	div
		display:inline-block
