@import 'colors.import';
.tr-margin{
	padding-bottom: 20px;
}
.newjob-table>tr>td{
	display: block;
}

#btn-margin{
	margin: 30px 0;
	text-align: center;
}
.error{
	color:red;
}
.job-value{
	font-weight: bold;
	font-size: 16px;
	color: #515151;
}
#f_company_url-error{
	display: none !important;
}
.form-control{
	height: 35px;
}
.steps{
	/*border-bottom: 1px solid #CCC;*/
	margin-bottom: 30px;
	text-align: center;
}
.steps h1{
	letter-spacing: -0.04em;
}
.job-info{
	margin:0px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 300;
}
#margin-top20px{
	margin-top: 20px; 
}
#example-img{
	height: 94px;
	width: 50%;
	float: right;
	background-image: url('image/example.PNG');
	background-size: cover;
}
.form-control{
	border-radius: 4px;
	color: #232323;
}
.radio-inline{

}
.post-job-form
	background-color: #EEEEEE;
	border-width: 1px 1px 3px;
	border-style: solid;
	border-color: #CCC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	padding: 25px;
	border-radius: 4px;
	@media (max-width: xs-sl)
		padding: 10px

.highlight_checkbox{
	margin-top: 30px;
}
#jobForm{
	margin-bottom: 30px;
}