@import 'colors.import';

.post-job-text
	font-size:16px
	color:color-black
	padding:0 0 1rem

.post-job
	padding: 1rem 2rem 2rem;
	button
		width:100%

#showjob
	cursor: pointer;

.wout-m
	margin: 0 !important

.container-post
	padding: 0 !important

#job-send
	p
		text-align:center
		color: color-999
	.form-group
		margin:2rem 0
		input
			margin-top: 0.5rem;
			font-size: 16px;
			box-shadow: none;
			background: #ebebeb;
			border-color: #ebebeb;
			padding: 2rem 1rem;
			color: color-black
		label
			font-size:18px
			margin:0
			font-weight:600

#pop-submit-job
	margin:0.5rem 0 2rem

.error
	color:#822121

.success
	color:#188C4D
