@import 'colors.import';

.button
  background: main-color
  border: medium none;
  padding: 8px 20px;
  letter-spacing: 0.03em;
  display:inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #FFF;
  transition: all 0.1s;

.button-apply
  text-transform: uppercase;
  display: block;
  width: 100%;

.button-big
  padding: 12px 20px

.button-yellow
  background: color-yellow
  color: color-black
  border: 0.15em solid color-yellow
  &:hover
    background: #fff
    color: color-yellow
    border-color: color-yellow
  &:active
    background: #fff
    color: color-yellow
    border-color: color-yellow
  &:focus
    background: #fff
    color: color-yellow
    border-color: color-yellow

.button-blue
  background: main-color;
  color: #fff;
  border: 0.15em solid main-color
  &:hover
    background: #fff
    color: main-color
    border-color: main-color
  &:active
    background: #fff
    color: main-color
    border-color: main-color
  &:disabled
    background: lighten(main-color, 30%)!important;
    color:#fff
    border-color: main-color

.button-reverse
  background: #fff;
  color: main-color;
  border: 0.15em solid;
  &:hover
    background: main-color
    color:#fff
    border-color: main-color
  &:active
    background: main-color
    color:#fff
    border-color: main-color
  &:disabled
    background: lighten(main-color, 30%)!important;
    color:#fff
    border-color: main-color
