@import 'colors.import';

html
  min-height: 101%;

body
  color: color-black
  font-family: 'Proxima Nova',"Helvetica Neue",Arial,Helvetica,sans-serif;
  position: relative
  background: #FFF
  min-height: 101%

h1, h2, h3, h4, h5, h6, p
  margin:0
  padding:0

.cursor-default
  cursor: default !important;

.color-main
  color: color-main

.b-600
  font-weight:600

.no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

button
  outline-style: none;

.inline-block
  display:inline-block

a
  color: color-main
  outline-style: none

a:hover, a:focus, a:active
  text-decoration: none;
  color: color-main;
  outline-style: none;

.a-noborder
  border-bottom: none !important

.main
  position: relative;
  z-index: 1;

.h4
  font-weight: bold;

.border
  border-top: 1px solid rgba(0, 0, 0, 0.08);

#orr
  margin-top: 10px
  font-weight: bold
  font-weight: 20px
  text-align: center
  padding: 0 2rem
  @media (max-width: xs-l)
    padding: 0 1rem

.show-780
  display:none !important;
  @media (max-width:780px)
    display:block !important;

.show-apply
  display:none !important;
  @media (max-width:780px)
    display:block !important;

.hide-780
  @media (max-width:780px)
    display:none !important;

.details{
  font-weight: 700;
  font-size: 16px;
}

.tags-wrap
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;

.tags-form
  padding: 3px 8px
  border-radius: 4px
  cursor: pointer

.tags-style
  background: border-color
  &:hover
    background: lighten(color-main, 30%)
    .tags
      color: #fff

.search-tags-style
  background: lighten(color-main, 30%)
  color: #fff
  &:hover
    background: color-main

.weight-400
  font-weight:400

.tags{
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF
}

.color-black
  color: color-black

.fullCont{
  padding: 2em;
  font-size: 16px;
}
.moreInfo{
  margin:30px 0;
}
.wrap-bigInfo
  margin: 2rem

.main-table tr
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.jumbotron{
  text-align: center;
}

.container-l
  max-width: 90rem
  margin: 0 auto
  @media (max-width: xs-l)
    padding: 0

.table-start
  .smurf
    &:last-child
      margin-bottom: 0px
      border-bottom: none

#highlighte{
  background-color: #FFFCCE;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

input:focus
  outline: none

.search-more:hover
  color: color-main;

.hidden
  display: none;

#error404
  height: 100vh
  width: 100%
  background-color:#f4f4f4
  padding:10rem 0
  h1
    margin-top: 0
    font-weight:bold
    font-size:8rem
    @media(max-width:xs-sl)
      font-size: 7rem
  h2
    color: #555 !important
    @media(max-width:xs-l)
      font-size: 2.5rem
    @media(max-width:xs-sl)
      font-size: 1.5rem

.loading
  width:100%
  text-align: center
  margin:2rem 0
  .loading-gif
    background-image: url('image/rolling.gif')
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-size:cover
  p
    font-weight: 600;

#loadmore
  display: inline-block
  cursor: pointer

.viewInfo
  display: inline-block;

div.viewInfo
  width: 15rem
  @media (max-width: xs-sl)
    width: 10rem;
    font-size: 0.8em;
    padding: 10px 5px;

.footer
  position: absolute
  bottom: 0
  right: 0
  left: 0
  background: #f4f5f4 none repeat scroll 0% 0%
  padding:2rem
  p
    font-size: 1.5em
    color: #555
    @media (max-width: xs-sl)
      font-size: 1.2em
  span
    color: #777

.loader
  text-align: center
  display: inline-block
  vertical-align: top

#give-some-padding
  width:100%
  padding:5rem 0

#contactwolf
  &:hover,&:active,&:focus,&:visited
    color:#FFF

td
  position:relative

.inline
  display:inline-block

.param-group
  text-align:center

.wolfy-back
  background-color: rgba(255,252,213,0.8)
  &:hover
    background-color: rgba(255,252,213,0.8) !important

.hidden-xs-ml
  @media (max-width: xs-ml)
    display: none !important

.schemaorg
  display:none

.tweet_follow
  position:fixed
  right: 7px
  top: 7px
  z-index: 999;

.count-new-job
  float: right

.number-count
  text-decoration: underline
  font-size: 24px

#count-num
  color: color-main

#twent-hour
  float: right
  color: #777

.login-but
  position: absolute
  top: 0
  left: 0
  z-index:20

.hide-1024
  @media(max-width: 1024px)
    display: none !important

.hide-900
  @media(max-width: 900px)
    display: none !important

.hide-500
  @media(max-width: 500px)
    display: none !important

.show-1024-table
  display: none
  @media(max-width: 1024px)
    display: table

.show-1024
  display: none
  @media(max-width: 1024px)
    display: block

.show-900
  display: none !important
  @media(max-width: 900px)
    display: block

.color-main
  color: color-main
