@import 'colors.import';

.btn-outline {
  padding: 11px 22px;
  font-size: 15px;
  background: transparent none repeat scroll 0% 0%;
  color: #FFF;
  line-height: 1;
  border-color: #FFF;
}
.btn-outline-big{
    padding: 5px 12px;
    font-weight: bold;
    border: 2px solid #232323;
}
.btn-outline-small{
  padding: 6px 12px;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-primary.btn-outline{
  color: main-color;
  border-color: main-color;
}
.btn-outline:hover{
  background: transparent none repeat scroll 0% 0%;
}
.btnM{
  background: #DDD none repeat scroll 0% 0%;
  border: medium none;
  padding: 14px 20px;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.15s;
}
.btnM-apply{
  display: inline-block;
  background: pre-main-color;
  padding: 14px 25px;
  color: #FFF;
  box-shadow: 0px 4px 0px main-color;
}

.btnM-apply:hover,.btnM-apply:focus{
  background: #1a63c6 none repeat scroll 0% 0%;
  color: #FFF;
  box-shadow: 0px 4px 0px main-color;
}

.btnM-apply:active{
  background:main-color;
  box-shadow:inset 0 2px 1px main-color;
  position:relative;
  top:1px  ;
}

.btnM-default{
  background: #DDD none repeat scroll 0% 0%;
  color: #555;
  box-shadow: 0px 2px 0px #D0D0D0;
}
.btnM-default:hover,.btnM-default:focus{
  background:#c6c6c6;
}

.btnM-info{
  background: main-color none repeat scroll 0% 0%;
  color: #FFF;
}
.btnM-info:hover,.btnM-info:focus{
  background: #1a63c6 ;
}


.noradius-default{
  box-shadow: none;
}
.btnM-white{
  color:#09AEF2;
  background-color: #fff;
  box-shadow: none;
  border-radius: 3px;
  display: inline-block;
}

.btnM-red{
	display: inline-block;
	background: #DC1D1D;
	padding: 14px 25px;
	color: #FFF;
	box-shadow: 0px 4px 0px #6e0e0e;
}

.btnM-red:hover,.btnM-red:focus{
	background: #b01717 none repeat scroll 0% 0%;
	color: #FFF;
	box-shadow: 0px 4px 0px #6e0e0e;
}

.btnM-red:active{
	background: #6e0e0e;
	box-shadow:inset 0 2px 1px #6e0e0e;
	position:relative;
	top:1px  ;
}
