@import 'colors.import';

.btn-outline
	padding: 11px 22px;
	font-size: 15px;
	background: transparent none repeat scroll 0% 0%;
	color: #FFF;
	line-height: 1;
	border-color: #FFF;

.btn-outline-big
	padding: 5px 12px;
	font-weight: bold;
	border: 2px solid body-color;

.btn-outline-small
	padding: 6px 12px;

.btn-outline:hover
	background: transparent none repeat scroll 0% 0%;

.btnM
	background: main-color
	border: medium none;
	padding: 14px 20px;
	letter-spacing: 0.03em;
	display:inline-block;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	color: #FFF;
	transition: all 0.15s;

.btnM-apply
	text-transform: uppercase;
	display: block;
	width: 100%;

.btnM-shadow
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2)

.btnM-red
	transition:all 0.1s
	background-color: main-color
	&:hover
		background: lighten(main-color, 20%) !important;
	&:active
		background: darken(main-color, 20%) !important;
	&:disabled
		background: lighten(main-color, 30%)!important;


.effect-for-buttons
	transition:all 0.1s
	&:hover
		background: lighten(main-color, 20%) !important;
	&:active
		background: darken(main-color, 20%) !important;
	&:disabled
		background: lighten(main-color, 30%)!important;
