<template name="submit_job">
	<div class="card">
		<div class="post-job post-job-head">Post Job</div>
		<div class="post-job">
			<p class="post-job-text">We are one of the most advanced platforms in the market of <strong>REMOTE JOBS</strong> for designers, developers and tech professionals. Remote Wolfy can easily help you to reach high quality remote workers with 100% free.</p>
			<a href="/post"><button class="btnM effect-for-buttons" id="showform">Post Job: FREE for 30 days</button></a>
		</div>
	</div>
</template>
