<template name="submit_job">
	<div class="card">
		<div class="post-job post-job-head">Post Job for Free</div>
		<div class="post-job">
			<p class="post-job-text">Remote Wolfy is the best place to find <span class="b-600">REMOTE JOBS</span> for designers, developers, tech professionals and digital nomads. We  can easily help you to reach high quality remote workers with 100% free.</p>
			<a href="/post"><button class="btnM btnM-red btnM-shadow" id="showform">Post Job + Find Workers<br><span class="weight-400">FREE for 30 days</span></button></a>
		</div>
	</div>
</template>
