@import '{}/client/stylesheets/colors.import';

.single-header-wrap
    padding: 3rem 2rem
    line-height: 3;
    .south
        color: color-black
        @media(max-width:500px)
            display: block
        a
            border: none
            color: color-black
    .pull-left
        a
            border: none
            text-transform: uppercase
            font-weight: 600
            font-size: 14px
    .pull-right
        a
            border: none
            font-weight: 600
            font-size: 14px
            text-transform: uppercase
            color: color-black
