@import '{}/client/stylesheets/colors.import';

.filters-header
	padding: 2rem;
	font-size:0

for n in 0..100
	.width-{n}
		width (n)%

.filter-body-hover
	width: calc(50% - 40px)

.no-padding-right
	padding-right: 0px !important

.filter-wrap
	font-size:14px
	padding:0 0.5rem
	display:inline-block
	background: #FFF;
	@media (max-width: 500px)
		display:block !important
		width:100%
		padding:0.5rem 0
	&:first-child
		padding-left:0
		@media (max-width: 500px)
			padding:0.5rem 0
	&:last-child
		padding-right:0
		@media (max-width: 500px)
			padding:0.5rem 0
	.filter-head-search-section
		label
			position:absolute
			font-size:18px
			right: 10px
			cursor:pointer
			top: 5px
		input
			border-radius: 4px;
	section
		height: 34px
		position:relative
		border:1px solid border-color
		text-align:left
		border-radius: 4px;
	input
		border: none
		width:100%
	.filter-head
		padding:0.5rem 3rem 0.5rem 1rem
		font-size: 16px;
		.fa
			position:absolute
			top:6px
			right:1rem
		.fa-sort-asc
			top: 14px;
	.filter-body
		background: #F7F7F7
		position: absolute
		z-index:9999
		border: 1px solid #d3d4d5
		background:#FFF
		width:100%
		display:none
		.spisok
			margin:0
			padding:0
			height: 21rem;
			overflow-y: scroll;
			list-style:none
			li
				padding:0.5rem 1rem
				cursor:pointer
				transition:all 0.1s
				&:hover
					background:#f4f4f4
				.fa
					padding:0.5rem

.select-no
	user-select(none)

.pointer
	cursor:pointer

.relative
	position:relative

.active-item
	background-color:main-color
	color:#FFF
	&:hover
		background-color:main-color !important
