<template name="header_top">
    <div class="mobile-header show-780">
        <a href="/"><h1 class="south hero-title">remotewolfy<span class="beta">v2.0</span></h1></a>
        <div class="hamburger-menu" id=" ">
            <span id="hamburger"><i class="fa fa-bars"></i></span>
            <ul>
                <li>
                    <a class="effect-for-text" href="/post">Post job</a>
                </li>
                <li>
                    <a class="effect-for-text" href="/info#contact">Contact</a>
                </li>
                <li>
                    <a class="effect-for-text" href="/info#about">About</a>
                </li>
                <li>
                    <a class="effect-for-text" href="https://twitter.com/intent/follow?screen_name=remote_wolfy"><i class="fa fa-twitter"></i> Twitter </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="relative hide-780">
        <a href="/"><h1 class="south hero-title">remotewolfy<span class="beta">v2.0</span></h1></a>
        <ul class="pull-right">
            <li>
                <a class="effect-for-text" target="_blank" href="/rss/jobs"><i class="fa fa-rss"></i> RSS </a>
            </li>
            <li>
                <a class="effect-for-text" href="https://twitter.com/intent/follow?screen_name=remote_wolfy"><i class="fa fa-twitter"></i> Twitter </a>
            </li>
            <li>
                <a class="effect-for-text" href="/info#contact">Contact</a>
            </li>
            <li>
                <a class="effect-for-text" href="/info#about">About</a>
            </li>
            <li>
                <a class="effect-for-text" href="/post">Post a job</a>
            </li>
            {{#if isInRole 'admin'}}
            <li>
                <a href="/post-job" class="effect-for-text" id="link-new-job">Create </a>
            </li>
            {{/if}}
        </ul>
    </div>
</template>
