<template name="left_side">
  <div class="hide-900">
    <div class="filter-logo">
      Filters <i class="fa fa-sliders"></i>
    </div>
    <div class="filter-body">
      <ul class="no-select">
        <li>
          {{> less_more}}
        </li>
        <li>
          {{> skills}}
        </li>
        <li>
          {{> search}}
        </li>
      </ul>
    </div>
    <a target="_blank" class="a-noborder" href="https://twitter.com/Zero___Hero">
    <div class="createdBy">
        <p>made by</p>
        <img class="image" src="/image/zerohero.png">
        <p>Zero Hero</p>
    </div>
    </a>
  </div>
</template>
