@import '{}/client/stylesheets/colors.import';

.fake
    p
        height: 16px;
        background: #f3f3f3;
        margin-bottom: 1rem
    p.margin
        margin: 0 0 1rem 3rem
    h4
        height: 16px;
        background: #f3f3f3;
        margin-bottom: 2rem

.fake.job
    padding: 2rem 2rem 0 2rem

.smurf.fake
    background-color: color-f9f9f9 !important
