@import '{}/client/stylesheets/colors.import';

.fake
    background: #fff !important
    .td-pics
        .company-image
            background: color-f3f3f3 !important
    p
        height: 16px;
        background: #f3f3f3;
        margin: 0 0 1rem 6rem
    h4
        height: 16px;
        background: #f3f3f3;
        margin-bottom: 2rem

.fake.job
    padding: 0 2rem
