@import '{}/client/stylesheets/colors.import';

.fake
    p
        height: 16px;
        background: color-black-10;
        margin-bottom: 1rem
    p.margin
        margin: 0 0 1rem 3rem
    h4
        height: 16px;
        background: color-black-10;
        margin-bottom: 2rem

.fake.job
    padding: 2rem 2rem 0 2rem

.fake-smurf
    background-color: color-f9f9f9 !important
    position:relative
    animation-duration: 1s;
    min-height: 9rem
    margin-bottom: 1rem
