<template name="time_table">
	<div class="table-start card">
		<div class="main-table table">
		{{#if search}}

			{{> table posts=search}}

			{{#if no_tags_found}}
				<div class="no-results text-center">No results found</div>
			{{/if}}

		{{else}}
			{{#EasySearch.IfInputEmpty index=postsIndex}}

				{{> table posts=posts}}

			{{else}}

				{{#EasySearch.Each index=postsIndex }}
					{{> jobs}}
				{{/EasySearch.Each}}

				{{#EasySearch.IfNoResults index=postsIndex}}
					<div class="no-results text-center">No results found</div>
				{{/EasySearch.IfNoResults}}

			{{/EasySearch.IfInputEmpty}}
		{{/if}}
		{{#if ready}}
		{{else}}

			<div class="show-780">
				{{> loading}}
			</div>
			<div class="hide-780">
				{{> fake_loading}}
			</div>
		{{/if}}
		</div>
	</div>
</template>
